/* Components: NavBar and SearchBar*/
/*.btn {
  background-color: black;
  color: white;
  border-color: white;
}

.btn:hover {
  border-color: white;
  background-color: white;
  color: black;
  transition: transform 0.5s ease;
}

/* Component : Item.jsx*/
/*.ui.right.floated.primary.button {
  background-color: black;
  color: white;
}

.ui.right.floated.primary.button:hover {
  background-color: white;
  color: black;
}
*/
